.rating{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    width: -webkit-fill-available;
    margin-top: 10px;
}
.cardWrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}
.card{
    max-width: 355px !important;
    height: 500px !important;
    overflow-y: auto;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.card-text{
    margin-top: 20px !important;
}